
.container {
font-size: 12px;
display: grid;
grid-template-columns: 2.5fr 1fr 12fr 3fr;
grid-gap: 10px;
grid-template-rows: 100px, 4fr, 15fr;
}

/* .container > section {
background-color: rgba(230, 230, 230, 0.623);
} */

.article-section {
background-color: rgba(230, 230, 230, 0.623);
padding-bottom: 5%;
}

.photo-box {
background-color: rgba(230, 230, 230, 0.623);
padding: 10px;
max-width: 250px;
}

.photo-circle {
width: 200px;
height: 200px;
position: relative;
overflow: hidden;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
}

.header-bar {
text-align: center;
}

.header-bar h1 {
font-size: xx-large;
}

.header-bar h2 {
font-size: medium;
}

img {
display: inline;
margin: 0 auto;
height: 200px;
width: auto;
text-align: center;
}

.nav-box {
background-color: rgba(230, 230, 230, 0.623);
min-width: 250px;
}

.main-nav ul {
list-style-type: none;
}

.main-nav ul {
list-style-type: none;
font-size: medium;
}

.main-nav a {
text-decoration: none;
color: black;
}

.main-nav a:hover {
text-decoration: underline;
color: gray;
}

.nav-button {
margin: 0 0 1vh 0;
}

.main-nav #active {
font-weight: bold;
font-size: xx-large;
}

.sub-nav-bar {
background-color: rgba(230, 230, 230, 0.623);
}

.sub-nav-bar ol {
font-style: italic;
list-style-type: none;
padding-left: 0;
}

.sub-nav-button {
display: inline-block;
}

.sub-nav-button a {
text-decoration: none;
color: black;
}

.sub-nav-bar {
padding-left: 2%;
padding-right: 2%;
}

.sub-nav-bar #active {
font-weight: bold;
font-size: large;
}

.content-box {
overflow-x: hidden;
padding-left: 2%;
padding-right: 2%;
}

@media (min-width: 1px) {

.photo-box {
    grid-column: 2;
    grid-row: 1 / 5;
}

.nav-box {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
}

.sub-nav-bar {
    grid-column: 2 / 4;
    grid-row: 5;
}

.content-box {
    grid-column: 2 / 4;
    grid-row: 6 / 20;
    min-height: 90vh;
}

/* #profile {
    background-color: blue;
}

#qualifications {
    grid-column: 1 / 4;
    grid-row: 3;
}

#employment {
    grid-column: 1 / 4;
    grid-row: 4;
}

#skills {
    grid-column: 1 / 4;
    grid-row: 5;
} */
}

@media (min-width: 900px) {

.photo-box {
    grid-column: 2;
    grid-row: 1 / 3;
}

.nav-box {
    grid-column: 2;
    grid-row: 3 / 20;
}

.sub-nav-bar {
    grid-column: 3;
    grid-row: 1;
}

.content-box {
    grid-column: 3;
    grid-row: 2 / 20;
    overflow-y: auto;
    height: 92vh;
}
}





/* 


.container > * {
border-radius: 5px;
padding: 10px;
}

.container header h1{
font-size: 200%;
font-weight: bold;
color: orangered;
}

.container header a{
text-decoration: none;
color: orange;
}

.container header h3{
font-size: 90%;
font-weight: bold;
color: orchid;
}

.article-box header h2{
font-size: 105%;
font-weight: bold;
color: bisque;
}

.article-box header h3{
font-size: 105%;
font-weight: bold;
color: red;
}

.article-box header h4{
font-size: 105%;
font-weight: bold;
color: palegreen;
}

.article-box {
background-color: rgba(230, 230, 230, 0.623);
}

@media (min-width: 1px) {
.container {
    max-width: 1024px;
}

.container header {
    grid-column: 1 / 4;
    grid-row: 1;
}

#profile {
    grid-column: 1 / 4;
    grid-row: 2;
}

#qualifications {
    grid-column: 1 / 4;
    grid-row: 3;
}

#employment {
    grid-column: 1 / 4;
    grid-row: 4;
}

#skills {
    grid-column: 1 / 4;
    grid-row: 5;
}

}

@media (min-width: 600px) {
.container {
    max-width: 100%;
}

.container header {
    grid-column: 1;
    grid-row: 1;
}

#profile {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

#qualifications {
    grid-column: 1 / 4;
    grid-row: 2;
}

#employment {
    grid-column: 1 / 4;
    grid-row: 3;
}

#skills {
    grid-column: 1 / 4;
    grid-row: 4;
}

}

@media (min-width: 1250px) {
.container {
    max-width: 100%;
}

.container header {
    grid-column: 1;
    grid-row: 1;
}

#profile {
    grid-column: 1;
    grid-row: 2;
}

#qualifications {
    grid-column: 1;
    grid-row: 3;
}

#employment {
    grid-column: 2;
    grid-row: 1/10;
}

#skills {
    grid-column: 1;
    grid-row: 4;
}

}
*/
